.homeContainer{
    min-height:50vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #FAD961;
    //background-image: linear-gradient(180deg, #FAD961 66%, #F76B1C 100%);
    
    
    

}
.main svg{
z-index: -1;
}